<section class="footer pd-t-b-all">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3 ">
        <ul style="">
          <li>Event</li>
          <li>Hackathon</li>
          <li>Hangouts</li>
          <li>Meetups</li>
          <li>Cafe</li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <ul>
          <li>Careers</li>
          <li>Newsletter</li>
          <li>Videos</li>
          <li>Docs</li>
          <li>Release</li>
        </ul>
      </div>
      <div class="f-horizontalline"></div>
      <div class="col-12 col-md-3">
        <ul class="community">
          <li>
            <a href="https://slack.openebs.io/" target="_blank" rel="noopener noreferrer">
              Slack
            </a>
          </li>
          <li>
            <a href="https://github.com/openebs/" target="_blank" rel="noopener noreferrer">
              Github
            </a>
          </li>
          <li>
            <a href="https://twitter.com/openebs" target="_blank" rel="noopener noreferrer">
              Twitter
            </a>
          </li>
          <li>
            <a href="https://blog.openebs.io" target="_blank" rel="noopener noreferrer">
              Blogs
            </a>
          </li>
          <li>Email

          </li>
          <li>
            <a href="https://www.facebook.com/openebs/" target="_blank" rel="noopener noreferrer">Facebook</a>
          </li>
        </ul>
      </div>
      <div class="f-horizontalline"></div>
      <div class="col-md-3 f-logo-section">
        <div class="col-12">
          <img class="f-logo" src="assets/images/f-openebs-logo.svg" alt="openebs-logo" title="OpenEBS"> </div>
        <div class="col-12">
          <img class="f-logo" src="assets/images/f-mayadata-logo.svg" alt="mayaonline-logo" title="MayaOnline"> </div>
        <div class="col-12">
          <img class="f-logo" src="assets/images/f-mayaonline-logo.svg" alt="mayadata-logo" title="MayaData"> </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="f-copyright">Copyright &copy; 2017 -2018 OpenEBS</p>
            </div>
        </div>
    </div>
</div> -->
