<!-- to remove please -->
<style>
    .user-quotes .carousel-item.active {
        height: 150px;
    }
    
    @media screen and (max-width:767px) {
        .user-quotes .carousel-item.active {
            height: 200px;
        }
    }
</style>
<!-- -->

<!--hero section openebs start -->
<div>
    <img class="desktop" src="assets/images/hero.svg" alt="">
    <img class="mobile" src="assets/images/mobile-hero.svg" alt="">
</div>

<div class="hero pd-b-3" style="">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <img src="assets/images/openebs-logo2.svg" alt="openebslogo">
                <h3 class="pd-t-b-07 font-weight-normal">Containerized Storage for Containers</h3>
                <!-- Place this tag where you want the button to render. -->
                <p class="pd-t-b-07">
                    <a class="github-button" href="https://github.com/openebs/openebs" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star openebs/openebs on GitHub">Star</a>
                </p>
                <a href=""> <button type="submit" class="ebs-btn" style="background-color:#ee5a2b;cursor: inherit;">Get Started</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!--hero section openebs end -->

<!-- what is openebs start -->
<div class="what-openebs pd-t-b-heading1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center font-weight-normal">What is OpenEBS?</h3>
            </div>
        </div>
    </div>
</div>
<div class="openebs-point pd-t-b-all">
    <div class="container">
        <div class="row" style="justify-content: space-around;">
            <div class="col-12 col-md-6 pb-b-2 d-flex ">
                <div class="circle-text" style="">
                    <span>1</span>
                </div>
                <h5 class="points">OpenEBS enables your DevOps team to have<br>their own storage policies for workloads</h5>
            </div>
            <div class="col-12 col-md-6 pb-b-2 d-flex">
                <div class="circle-text">
                    <span>2</span>
                </div>
                <h5 class="points">OpenEBS is not Yet Another Scale-out<br>Storage System (YASSS)</h5>
            </div>
            <div class="col-12 col-md-6 pb-t-2 pb-b-2-mb d-flex ">
                <div class="circle-text">
                    <span>3</span>
                </div>
                <h5 class="points">OpenEBS is tightly integrated with Kubernetes<br>and is a part of Kubernetes-Incubator project</h5>
            </div>
            <div class="col-12 col-md-6 pb-t-2 pb-b-2-mb d-flex ">
                <div class="circle-text">
                    <span>4</span>
                </div>
                <h5 class="points">OpenEBS is the most active Cloud Native Containerized Storage project</h5>
            </div>
        </div>
    </div>
</div>
<!-- what is openebs end -->
<!--Feature section start -->
<div class="feature-heading pd-t-b-heading2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center font-weight-normal">Features</h3>
            </div>
        </div>
    </div>
</div>
<div class="all-feature pd-t-b-all">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/ContainerizedStorageforContainers.svg" alt="">
                    <h5 class="pd-t-b-02 w-90">Containerized Storage for Containers</h5>
                    <p class="p2 w-90">Your storage controller is a container that follows around your workloads, very different than Yet Another Scale out Storage System (“!YASSS”)</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/PrometheusmetricsGrafanagraphs.svg" alt="">
                    <h5 class="pd-t-b-02 w-90">Prometheus metrics and Grafana graphs</h5>
                    <p class="p2 w-90">Granular monitoring through prometheus and grafana</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/ImprovesEBSothercloudstorage.svg" alt="">
                    <h5 class="pd-t-b-02 w-90">Improves EBS & other cloud storage</h5>
                    <p class="p2 w-90">Runs on top of EBS-to improve resiliency, to limit lock-in, and for better integration with Kubernetes</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/GranularControl.svg" alt="">
                    <h5 class="pd-t-b-02 w-90">Granular Control</h5>
                    <p class="p2 w-90">Each workload and hence, each team working on dynamic container based workloads has their own storage, instead of being managed by central storage</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/writtengo.svg " alt="">
                    <h5 class="pd-t-b-02 w-90">Written in GO</h5>
                    <p class="p2 w-90">OpenEBS is the only broadly adopted open source block storage written mostly in Go</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/Avoidcloudlock-in.svg" alt="">
                    <h5 class="pd-t-b-02 w-90">Avoid cloud lock-in</h5>
                    <p class="p2 w-90">When you write your data to OpenEBS you write to an open source, highly flexible data management layer that allows you to manage your exposure to each cloud or data center</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature section end -->

<!-- relase note , hackfest , hangout etc start  -->
<div class="feature-event pd-t-b-all">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex">
                <img src="assets/images/release.svg" alt="release images">
            </div>
            <div class="col-md-6 d-flex" style="align-items:center">
                <div class="relase-all-details">
                    <h3 class="pd-t-b-1 relase-no" style="color:#f93">OpenEBS 0.5.1 Released</h3>
                    <h5 class="pd-t-b-1 relase-details">With OpenEBS 0.5.1 every workload has its own storage policies and its own storage controller.</h5>
                    <h5 class="pd-t-b-1 relase-details"> And OpenEBS 0.5.1 adds improved Prometheus metrics, Helm chart integration & much more.</h5>
                    <a href=""> <button type="submit" class="ebs-btn" style="background-color:#f93;cursor: inherit;">Try It</button></a>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- relase note , hackfest , hangout etc end     -->


<!-- contibutor section start -->
<div class="contibutor pd-t-b-all">
    <div class="container">
        <div class="row">
            <div class="col-md-7 bd-tb text-center " style="">
                <div class="pd-t-b-heading2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center font-weight-normal">Our Community</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex pd-t-b-105" style="justify-content:space-around">
                    <div class="circle-under-text ">
                        <div class="circle-text">
                            <span id="issue-count">400</span>
                        </div>
                        <p class="p2"> Issues</p>
                    </div>
                    <div class="circle-under-text">
                        <div class="circle-text">
                            <span id="star-count">3.6</span><span>k</span>
                        </div>
                        <p class="p2"> Stargazers</p>
                    </div>
                    <div class="circle-under-text">
                        <div class="circle-text">
                            <span>100+</span>
                        </div>
                        <p class="p2"> Contributors</p>
                    </div>
                </div>
                <div class="all-contir pd-t-b-105" id="contibutorslist2"></div>
            </div>
            <div class="col-md-5 text-center" style="display:flex;align-items:center;">
                <div class="slack-pd">
                    <img class="slack-img" src="assets/images/slack-logo.svg" alt="">
                    <h3 class="font-weight-normal pd-t-b-1" style="color:#f93">
                        Join us on Slack
                    </h3>
                    <h5 class="community-details">Join our OpenEBS slack community to get help and support from the OpenEBS team and community members. </h5>
                    <a href=""> <button type="submit" class="ebs-btn" style="background-color:#f93;cursor: inherit;">Join Us!</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contibutor section end -->



<!--User quotes start -->
<div class="user-quotes pd-t-b-all">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Users Quotes</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="user-qoutes-controls" class="carousel slide qoute-main" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center align-items-center pd-quotes">

                                <div class="quotes-details">

                                    <h5 class="quotes">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i> With wonderful and really helpful community and developers, I found it easier to get to know OpenEBS a lot better. I found OpenEBS to be really easy to use as
                                        a software defined storage for cloud native applications.
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </h5>
                                    <div>
                                        <p class="q-user-name p2">
                                            <span>~Hrishikesh N</span>, OpenEBS Contributor and Stargazer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center align-items-center pd-quotes">

                                <div class="quotes-details">

                                    <h5 class="quotes">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i> OpenEBS is promising as it has the potential to bring the stability and scalability of Google File System to the masses. Personally, I am looking into a scalable
                                        store to cache large chunks of data and am looking forward to evaluate OpenEBS for the same.
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </h5>
                                    <div>
                                        <p class="q-user-name p2">
                                            <span>~Goutham</span>,Prometheus upstream contributor & OpenEBS User</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center align-items-center pd-quotes">
                                <div class="quotes-details">
                                    <h5 class="quotes">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i> I was taking part on hacktoberfest, and used it as opportunity to get to know some interesting projects. That's how I discovered OpenEBS. I liked its features
                                        and development. I took one issue, and the developers were very solicit and nice!
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </h5>
                                    <div>
                                        <p class="q-user-name p2">
                                            <span> ~Eduardo</span>, OpenEBS contributor and Stargazer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center align-items-center pd-quotes">
                                <div class="quotes-details">
                                    <h5 class="quotes">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i> A welcoming open source community developing DevOps friendly hyper-converged storage for containers, this is what attracted me to contribute to this project as
                                        a DevOps Engineer.
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </h5>
                                    <div>
                                        <p class="q-user-name p2">
                                            <span>~Debojit Kakoti</span>,OpenEBS contributor and Stargazer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#user-qoutes-controls" role="button" data-slide="prev" style="width:10%;">
                        <i class="fa fa-angle-left direction"></i>
                    </a>
                    <a class="carousel-control-next" href="#user-qoutes-controls" role="button" data-slide="next" style="width:10%;">
                        <i class="fa fa-angle-right direction"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--User quotes end-->


<!-- demo form start -->
<div class="demo-form pd-t-b-all">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="demo-details">Please register for our newsletter for user stories and tips.</h4>
            </div>
            <div class="col-md-6">
                <form class="form-view theme2" id="agile-form" action="https://cloudbyte.agilecrm.com/formsubmit" style="max-width:450px;" method="GET">
                    <fieldset>
                        <div style="display: none; height: 0px; width: 0px;">
                            <input type="hidden" id="_agile_form_name" name="_agile_form_name" value="OpenEBS Demo">
                            <input type="hidden" id="_agile_domain" name="_agile_domain" value="cloudbyte">
                            <input type="hidden" id="_agile_api" name="_agile_api" value="2fj7t9epllsfe6c2jm86pnpqro">
                            <input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="#">
                            <input type="hidden" id="_agile_document_url" name="_agile_document_url" value="">
                            <input type="hidden" id="_agile_confirmation_msg" name="_agile_confirmation_msg" value="Great! Thanks for filling out the form.">
                            <input type="hidden" id="_agile_form_id_tags" name="tags" value="OpenEBS Demo">

                            <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5727242931929088">
                        </div>
                        <!-- Text input-->
                        <div class="d-flex justify-content-between">
                            <div class="form-group w-45 required-control">
                                <input maxlength="250" id="agilefield-1" name="first_name" type="text" placeholder="First name" class="form-control" required="">

                            </div>
                            <!-- Text input-->
                            <div class="form-group w-45 required-control">
                                <input maxlength="250" id="agilefield-2" name="last_name" type="text" placeholder="Last name" class="form-control" required="">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <input maxlength="250" id="agilefield-3" name="email" type="email" placeholder="Email" class="form-control">
                        </div>
                        <!--recaptcha aglignment-->
                        <!-- Button -->
                        <div class="agile-group">
                            <button type="submit" class="ebs-btn w-100" style="background-color:#ee5a2b;cursor: inherit;">Submit</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- demo form end   -->